<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dragonnetwork.hihealth">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".user.LoginActivity"
            android:label="@string/title_activity_register">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".medication.MedicationActivity"
            android:label="Medications"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".medication.AddMedicationActivity"
            android:label="Add Medication"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".user.UserProfile"></activity>
        <activity
            android:name=".user.SignupActivity"
            android:label="@string/title_activity_register" />
    </application>

</manifest>